<%page expression_filter="h"/>
<%!
from openedx.core.djangolib.markup import Text
from django.utils.translation import ugettext as _

%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${Text(_("Unsubscribe"))}</%block>
<section class="container unsubscribe">

  <section class="message">
       <h1>

          <%block name="pageheader">${Text(_("Unsubscribe"))} </%block>

      </h1>

      <%block name="pagecontent">

            %if unsubscribe:
                ${Text(_("You are successfully unsubscribed from emails for {course}")).format(
                        course=course.display_name_with_default
                )}

            %else:
                ${Text(_("You have not been unsubscribed from emails for {course}")).format(
                        course=course.display_name_with_default
                )}

            %endif
      </%block>

  </section>

</section>
